/*-----===MAIN===-----*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-----===CAROUSEL===-----*/
#carouselExampleAutoplaying{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
    opacity: .6;
}