@charset "UTF-8";

*{margin: 0; padding: 0; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-decoration: none;}

/*-----===HEADER===-----*/
/*---=Using Display Flex=---*/
header, .logo-container, .horizontal-nav, .vertical-nav, .vertical-nav ul, .vertical-nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    height: 10vh;
    justify-content: space-around;
    background-color: aliceblue;
}

.logo-container{
    height: 100%;
    width: 40%;
    z-index: 999;
    background-color: aliceblue;
}
.horizontal-nav{
    height: 100%;
    width: 60%;
    z-index: 999;
    justify-content: space-around;
}

.ham-btn-container{
    height: 100%;
    width: 25%;
    display: none;
    z-index: 999;
    background-color: aliceblue;
}

.vertical-nav{
    width: 100%;
    height: 20vh;
    top: 10vh;
    position: absolute;
    transform: translateY(-100%);
    transition: .3s all ease-in-out;
    z-index: 998;
    background-color: aliceblue;
}
.vertical-nav ul{
    height: 100%;
    width: 70%;
    flex-direction: column;
    align-items: start;
}
.vertical-nav ul li{
    height: 20%;
    align-items: center;
}

/*-----===FOOTER===-----*/
footer,
.footer-links,
.mapa, .eventos, .seja-produtor, .cidades,
.footer-redes ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer{
    min-height: 25em;
    height: 35vh;
    background-color: aliceblue;
}
.footer-links{
    height: 70%;
    width: 95%;
    justify-content: space-around;
    border-top: solid 2px rgb(210, 210, 210);
}

.footer-redes{
    height: 10%;
    width: 95%;
    border-top: solid 2px rgb(210, 210, 210);
}
.footer-redes ul{
    height: 100%;
    width: 100%;
    align-items: flex-end;
}

/*-----=== Media Query ===-----*/
@media screen and (max-width: 1024px) {
    /*-----===HEADER===-----*/
    .horizontal-nav{
        display: none;
    }

    .logo-container{
        width: 100%;
    }

    .ham-btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
    }

    .ham-btn-container:hover{
        cursor:pointer;
    }
    .ham-btn-container:hover ~ .vertical-nav, .vertical-nav:hover{
        transform: translateY(0%);
        transition: .3s all ease-in-out;
    }
}